.DS_store
**.ini**
**dist**
.env*
node_modules
**/.vagrant*
**/__pycache__/**
.DS_Store
nourish/db/*
dist/*
**/.terraform/**
**/*.backup
**/*.hcl
**/*.tfstate
**/*.swp
**/*.lock
dist/*
resources/*
**/*.raw.yaml
documents/latex/dist/*.log
documents/latex/dist/*.yaml
documents/latex/dist/*.xml
documents/latex/dist/*.bcf
documents/latex/dist/*.xmpi
documents/latex/dist/*.out
documents/latex/dist/*.aux
**Pods**
